
body { 
    font-family: 'Inter', sans-serif;
}

h1,p { 
    font-family: 'Inter', sans-serif;
}

header, footer { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px; 
}

.logo img { 
    max-width: 42px;
} 

.navigation ul { 
    list-style: none;
    display: flex;
}

.navigation li { 
    margin-right: 20px;
}

/* hero */
.heroImg { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 32px;
    flex-direction: column;
}

h1 { 
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px;
}

h2 { 
    font-family: Inter;
    text-align: center;
    font-style: normal;
    font-size: 22px; 
    line-height: 33px;
    font-weight: 400;
}

.content { 
    text-align: center;
    align-items: center;
    justify-content: center;
}

.location { 
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px; 
}

.resume-button-container { 
    display: flex;
    justify-content: center;
}

.resume-button { 
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid black;
    background: #FFF
}

.cards-container { 
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    gap: 16px; 
}

.card h3 { 
    color: #313134;
    font-family: Inter;
    font-size:16px; 
    font-style: normal;
    font-weight:400; 
    line-height: 24px;
}

.card p { 
    color: #313134;
    font-family: Inter;
    font-size:12px; 
    font-style: normal;
    font-weight:400; 
    line-height: 18px;  
}
.card { 
    display: flex; 
    padding: 24px 24px 32px 32px; 
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: white;
    box-shadow: 0px 8px 16px 4px rgba(194, 194, 194, 0.20);
}

/* Footer */
.connect { 
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 10px;
}

.copyright { 
    display: flex;
    align-items: center;
    gap: 8px; 
}

.footer-left { 
    list-style: none;
    display: flex;
}

/* span { 
    font-size: 16px;
    line-height: 24px;
} */
